*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav */
nav{
    background-color:white;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    padding: 0 10px;
}

.left-bar,.right-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    height: 60px;
    
}

ul{
    list-style-type: none;
    
}

.left-bar ul,.right-bar ul {
    gap: 20px;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;

}

/* header */

header{
    width: 100%;
    padding-top: 80px;
    background-color: #b4d0e7;
    
    
}

.header-inner{
    padding-top: 30px;
    max-width:70% ;
    margin:auto;
    
}
.header-inner-bot{

    
    max-height: 100%;
    margin:auto;
    display: flex;
    padding-top: 30px;
}

.header-text{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    
}

.header-img{
    display: flex;
    width: 70%;
    margin-bottom: -75px;
   
}
.header-img img{
    width: 100%;
    height: auto;
    align-items: flex-start;
}

.header-title{
    margin: auto;

}

h1{
    
    text-align: left;
    font-size: 3.5em;
}

i{
    text-align: center;
    font-size: 2em;
}

.btn-blue{
    color: white;
    padding: 5px;
    background-color: #0061ff;
    border: none;
}

.btn-white{
    background-color: white;
    padding: 10px 5px;
}

/* main */

.container{
    width: 60%;
    padding-top: 100px;
    
    margin: auto;
    
}
.columns,.rows{
    
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

.card{
    padding: 50px 0;
}

.card>div{
    height: 100%;
    padding: 15px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

h2{
    font-size: 40px;
    padding: 40px 0px;
}

h4{
    border: 1px solid lightgray;    
    text-align: center;  
}

h3,h5,span{
    padding: 5px;
}

header i{
    font-size: xx-large;
}

.container div i{
    font-size: small;
    
}

.row{
    display: flex;

}

.check i{
    color: #0061ff;
}

hr{
    width: 40px;
}

.last-card{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    
}
.rows{
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

.column-text{
    max-width: 40%;
    display: flex;
    align-items: center;
    padding: 40px;
}
.column-text div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.row div img{
    width: 100%;

}