*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color:white;
   
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
}

.left-bar,.right-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    height: 80px;
    
}



ul {
    gap: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}
/* header */

header{
    height: 450px;
    width: 100%;
    padding-top: 80px;
    
    /* test */
    background-color: #b4d0e7;
    
    
}

.header-inner{
    
    /* background-color: blueviolet;
    height: 100%; */
    /* test */
    max-width:85% ;
    margin:auto;
    
}
.header-inner-bot{
    /* background-color: aqua; */
    
    max-height: 100%;
    max-width:63% ;
    margin:auto;
    display: flex;
    padding: 20px;
}

.header-text{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 35%;
    overflow: auto;
    /* background-color: rgb(0, 255, 136); */
    

    
    /* test */
}

.header-img{
    display: flex;
    width: 65%;
   

    /* test */
}
.header-img img{
    width: 100%;
    height: auto;
    align-items: flex-start;
}

.header-title{
    width: 60%;
    margin: auto;

}

h1{
    
    text-align: left;
    font-size: 3.5em;
}

i{
    text-align: center;
    font-size: 2em;
}

.btn-blue{
    color: white;
    padding: 5px;
    background-color: #0061ff;
    border: none;
}
